@using WebSite.Models
@using System.Collections.ObjectModel

@model CatalogViewModel

@{
    ViewBag.Title = "Album Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Album a1 = new Album();
    //a1.AlbumId = 1;
    //a1.Artist = "Shakira";
    //a1.Thumbnail = new FileInfo(@"C:\Antoine\01 ITI\Cours\Spinelli CSharp\ASP.Net\Fake\NwdStudents-master\Mock\t.jpg");
    //a1.Title = "A1";

    //Album a2 = new Album();
    //a2.AlbumId = 2;
    //a2.Artist = "Beyoncé";
    //a2.Thumbnail = new FileInfo(@"C:\Antoine\01 ITI\Cours\Spinelli CSharp\ASP.Net\Fake\NwdStudents-master\Mock\t.jpg");
    //a2.Title = "A2";

    CatalogViewModel tModel = new CatalogViewModel();
    //tModel.Albums = new Collection<Album>();
    //tModel.Albums.Add(a1);
    //tModel.Albums.Add(a2);

    tModel = Model;
}

<style>
    .card {
        overflow: hidden;
        min-height: 330px;
        background: #fff;
        padding: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        border: 1px solid;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
        -webkit-border-radius: 3px;
    }
</style>
<h2>Album Catalog</h2>

    <div class="container card">
        <div class="row">
           @foreach (var album in tModel.Albums)
           {
               <div class="col-sm-3">
                   <a class="album-title" href="@Url.Action("Album", "Catalog", new { albumId = album.AlbumId })">
                       <img src="@album.Thumbnail" style="height:80px; width:80px;" />
                       <span class="album-title pull-right">
                           <b>@album.Title</b>
                           <br>
                           <i>@album.Artist</i>
                       </span>
                   </a>

               </div>
           }
        </div>
    </div>
